@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Gloria+Hallelujah&family=Montserrat&family=Nunito:wght@200;400&family=Open+Sans&family=Rajdhani&family=Roboto:wght@300&family=Ropa+Sans&family=Rubik:ital@1&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;
    font-family: 'Ropa Sans', sans-serif;
   }

header{
   width: 100%;
   height: 50px;
   background: #FFFFFF;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25 );
   display: flex;
   align-items: center;
   justify-content: space-between;   
}

.cabeçalho{
   display: flex;
   align-self: flex-start;
   align-items: center;
   margin-top: 0px;
}

header .cabeçalho, a {
   margin: 0px 8px;
}

.cabeçalho p{
   width: 70px;
   font-size: 0.7em;
   margin-left: 8px;
}

.banner{
   margin: 20px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.banner img{
   width: 90%;
}

.valor{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 5px;
}

.valor h2{
   color: #555555;
}

.valor a h3{
   color: #FFFFFF;
   border: 1px solid ;
   width: 65px;
   border-radius: 20px;
   text-align: center;
}

.newa{
   background: #51D275;
   font-weight: lighter;
}

.salea{
   background: #DC9730;
   font-weight: lighter;
}

.sale{
   display: flex;
   flex-direction:column;
   width: 35%;
   background: #EEEEEE;
   height:280px;
}

.sale p{
   padding: 0px 12px 12px;
   font-size: 12px;
   align-items: center;
   color: #555555;
}

.new{
   display: flex;
   flex-direction:column;
   width: 35%;
   background: #EEEEEE;
   height:280px;
}

.new p{
   padding: 0px 12px 12px;
   font-size: 12px;
   align-items: center;
   color: #555555;
}

.anuncio{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   height:280px;
}

.subtitulo{
   color: #888888;
   display:flex;
   align-items: center;
   justify-content: center;
   height: 50px;
}

.triple{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.estilos{
   position: relative;
   margin-top: 5px;
}

.estilos img{
   opacity: 0.35;
}
.estilos h2{
   color: #FFFFFF;
   position: absolute;
   left: 250px;  
   bottom: 30px;
   z-index: index 2; ;
}

.rodape{
   background: #333333;
   display: flex;
   justify-content: space-around;
   padding: 30px 0px;
}

.contato{
   width: 200px;
   text-align: left;
   align-items: center;
   line-height: 25px;
   color: #ffffff;
}

.information {
   align-items: center;
   display: block;
}



.icons ul li{
   display: inline-block;
   margin: 4px 5px;
   align-items: center;
}

